.box-wrapper {
  padding: 8px;
  text-align: left;
  border: 1px solid #eaecef;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;

  &__title {
    font-weight: bold;
  }

  &__labels {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  &__comments {
    justify-self: flex-end;
    margin-left: auto;
  }

  &__user-info {
    width: 100%;
    margin: 0;
    color: #58606e;
    font-size: 12px;
  }

  &:hover {
    background-color: #f6f8fa;
  }

  &--isSelected {
    border: 5px solid steelblue;
  }
}
