.app-wrapper {
  padding: 60px;
  text-align: center;

  &__input {
    padding: 10px;
    margin-bottom: 15px;
    width: 300px;
  }

  &__issues-container {
    margin: 0 auto;
    max-width: 1200px;
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
